
.App {
  display:flex;
  justify-content: center; /* center: Nesneler tam ortalı olacak şekilde hizalanır. */
  align-items: center;    /*center: Nesneler ortalı bir şekilde dikey olarak sıralanırlar. */
  height: 100vh;
  flex-direction: column;
}

.palatte{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.palatte button{
  margin: 10px;
}